body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;  
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    justify-content: space-between; /* Espaça o conteúdo igualmente */
}

header img {
    height: 100px; /* ou qualquer outra altura desejada */
    /* se você quiser manter a imagem dentro das dimensões originais, use 'width: auto' */
}

.header-content {
    flex-grow: 1; /* Faz a div crescer e ocupar o espaço disponível */
    text-align: center; /* Centraliza o texto dentro da div */
}

main {
    padding: 15px;
    /* text-align: center; */
}

h1, h2 {
    margin: 0 0 10px 0;
}

p, li {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}