body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 196, 196);
    border-radius: 14px;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: rgb(218, 218, 218);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.887);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
.login img{
    width: 100px;
    height: auto;
    border-radius: 100px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.733);
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: rgba(49, 38, 112, 0.719);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: rgba(255, 255, 255, 0.623);
}

a {
    color: rgba(38, 0, 255, 0.726);
    text-decoration: none;
    margin-left: 10px;
}