<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <title>Login</title>
</head>
<body>
    <section class="area-login">
        <div class="login">
            <div>
                <img src="images/logo.png">  <!-- arrumar depois -->
            </div>

            <form method="POST">
                <input type="text" name="nome" placeholder="usuario" autofocus>
                <input type="password" name="senha" placeholder="senha">
                <input type="submit" value="entrar">
            </form>
            <p>Ainda não tem uma conta?<a href="#">Criar conta</a></p>
        </div>
        
    </section>    
    </body>

</html> 
